<!DOCTYPE html>
<html lang='es'>
<head>
  <meta charset='utf-8'>
  <style>
   {% block style_css %}{% endblock %}
  </style>
</head>
<body>
  <header> 
  	{% block encabezado %}{% endblock %}

 			<dd><a href='/'>Inicio</a></dd>
			<dd><a href='/products'>Lista de Peliculas</a></dd>
      <dd><a href='/productstoprated'>Lista de Peliculas Mejor Valoradas</a></dd>
      <dd><a href='/productsbytype'>Buscar Peliculas por Type</a></dd>
			{% comment %}<dd><a href='/peliculasporpais'>Peliculas Agrupadas por Paises</a></dd>
			
			
      {% endcomment %}
      <dd><a href='/productsbypriceinterval'>Buscar Peliculas por Fecha</a></dd>
			<dd><a href='/carga'>Cargar la BD</a></dd> 
      <dd><a href="/loadRS">Cargar el Sistema de Recomendacion</a></dd>
		  <dd><a href="/recommendedProductsUser">Recomienda dos Peliculas a un Usuario - RS Basado en Usuarios</a></dd>

	<hr>
  </header>
  <section>
    {% block contenido %}{% endblock %}
  </section>
  {% block pie %}{% endblock %} 
</body>
</html>