

{% extends 'base.html' %}

{% block encabezado %}
<h1> Carga de la Base de datos. Confirmacion </h1>
{% endblock %}

  {% block contenido %}
  {% comment %} <h3>AVISO: Este proceso es lento, borra la base de datos actual y requiere conexion a internet</h3>
    <form id='formulario' method='post' action=''>{% csrf_token %}
		<input type="submit" name="Aceptar" value="Aceptar">
		<input type="submit" name="Cancelar" value="Cancelar">
	</form>  {% endcomment %}
  <!-- About-->
        <section class="page-section bg-primary" id="about">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="text-white mt-0">Update database</h2>
                        <hr class="divider light my-4" />
                        <p class="text-white-50 mb-4">This process is slow, deletes the current database and requires an internet connection</p>
                        <form id='formulario' method='post' action=''>{% csrf_token %}
                          <input type="submit" name="Aceptar" value="Update DB" class="btn btn-light btn-xl js-scroll-trigger">
                          {% comment %} <input type="submit" name="Cancelar" value="Cancelar"> {% endcomment %}
                        </form> 
                        {% comment %} <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a> {% endcomment %}
                    </div>
                </div>
            </div>
        </section>
  {% endblock %}
