{% extends 'base.html' %}

{% block encabezado %}
<h1>Buscar Usuario</h1>
{% endblock %}

  {% block contenido %}
  {% comment %} <h3>AVISO: Este proceso es lento, borra la base de datos actual y requiere conexion a internet</h3>
    <form id='formulario' method='post' action=''>{% csrf_token %}
		<input type="submit" name="Aceptar" value="Aceptar">
		<input type="submit" name="Cancelar" value="Cancelar">
	</form>  {% endcomment %}
  <!-- About-->
        <section class="page-section bg-primary" id="about">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="text-white mt-0">Search products by price interval</h2>
                        <hr class="divider light my-4" />
                        <p class="text-white-50 mb-4">You can specify the desired price interval using the format: LowestPrice HighestPrice.
						 It is important to leave a blank space in between. Ej: 10 20</p>
                        <p class="text-white-50 mb-4">{{message}}</p>

						<form class="form-control" id="formulario" method="post" action=''>{% csrf_token %}
							 {{formulario.as_p}}
                            <p><input type='submit' value='Search Products' class="btn btn-light btn-xl js-scroll-trigger"/></p>
						</form>
                        {% comment %} <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a> {% endcomment %}
                    </div>
                </div>
            </div>

        </section>
		{% if products %}
		    <section class="page-section" id="about">
		
               <div id="portfolio">
            <div class="container-fluid p-0">
                <div class="row no-gutters">
				{% for row in products %}
					<div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box container" href={{row.url}}>
						<div class="row">
							<div class="col-lg-4 col-sm-6">
								<img class="img-fluid" src={{row.img}} alt="" />
							</div>
							<div class="col p-2">
							<b>Price: </b> {{row.current_price}}</br>
							<b>Size: </b>
							{% for size in row.sizes.all %}
								{{size.size}}, </dt>			    
							{% endfor %}
							</br>
							
							<b>Old price: </b> {{row.old_price}}</br>
							<b>Brand: </b> {{row.brand}}</br>
							<b>Color: </b> {{row.color}}</br>
							<b>Rating: </b> {{row.avg_rating}}</br>

								{% comment %} <div class="project-name "> {{row.name}} </div> {% endcomment %}
							</div>
								
							<div class="portfolio-box-caption">
								<div class="project-category text-white-50">{{row.type}}</div>
								<div class="project-name">{{row.name}}</div>
							</div>
						</div>	
                        </a>
                    </div>

					{% comment %} <dt><b>Id: </b>{{row.id}} <b>Name: </b>{{row.name}} <b>Color: </b>{{row.color}} <b>Brand: </b>{{row.brand}} <b>Type: </b>{{row.type}} <b>Price: </b>{{row.current_price}} <b>Old Price: </b>{{row.old_price}}</dt> {% endcomment %}
					
					{% comment %} {% for size in row.sizes.all %}
						<dt><b>Product type: </b>{{size.product_type}} <b>Size: </b>{{size.size}}</dt>
						</dd>		    
					{% endfor %} {% endcomment %}
				{% endfor %}
                    
                </div>
            </div>
        </div>
		</section>

		{% endif %}

  {% endblock %}

