

{% extends 'base.html' %}

{% block encabezado %}
<h1> Products </h1>
{% endblock %}

  {% block contenido %}
			{% for row in products %}
				<dt><b>Name: </b>{{row.name}}</dt>
				{% comment %} <img src={{row.img}}> {% endcomment %}
			    {% comment %} <dt><b>Titulo: </b>{{row.titulo}} ({{row.tituloOriginal}})</dt>
			    <dd><b>Pais: </b>{{row.pais}} | <b>Director: </b>{{row.director}} | <b>Fecha de Estreno: </b>{{row.fechaEstreno}} </dd>
			    <dd> <b>Generos: </b>
			    {% for gen in row.generos.all %}
			    	{{gen.nombre}} 
			    {% endfor %} {% endcomment %}
			    </dd>		    
			{% endfor %}
			{% for row in users %}
				<dt><b>Name: </b>{{row.name}}</dt>
			    </dd>		    
			{% endfor %}
			{% for row in ratings %}
				<dt><b>User name: </b>{{row.user.name}}</dt>
				<dt><b>Product name: </b>{{row.product.name}}</dt>
				<dt><b>Rating: </b>{{row.rating}}</dt>
			    </dd>		    
			{% endfor %}
  {% endblock %}
