{% extends 'base.html' %}
{% load static %}

{% block encabezado %}
<h1> Products Top Rated</h1>
{% endblock %}

  {% block contenido %}
		
		<section class="page-section bg-primary" id="about">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="text-white mt-0">Top Rated Products</h2>
                        <hr class="divider light my-4" />
                        <p class="text-white-50 mb-4">These are the same products of Products section but grouped and ordered by the overall user rating of the product</p>
                    </div>
                </div>
            </div>
        </section>

		<section class="page-section" id="about">
		
        <div id="portfolio">
			{% regroup products by avg_rating as grouped %}
	    	{% for group in grouped %}
			<h2 class="text-center mt-0">Rating: {{group.grouper}} ({{group.list|length}} products) </h2>
            <hr class="divider my-4" />
		    {% comment %} <h3>Rating: {{group.grouper}} ({{group.list|length}} products)</h3> {% endcomment %}

            <div class="container-fluid p-0">
                <div class="row no-gutters">
				{% for row in  group.list %}
					<div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box container" href={{row.url}}>
						<div class="row">
							<div class="col-lg-4 col-sm-6">
								<img class="img-fluid" src={{row.img}} alt="" />
							</div>
							<div class="col p-2">
							<b>Size: </b>
							{% for size in row.sizes.all %}
								{{size.size}}, </dt>			    
							{% endfor %}
							</br>
							<b>Old price: </b> {{row.old_price}}</br>
							<b>Price: </b> {{row.current_price}}</br>
							<b>Brand: </b> {{row.brand}}</br>
							<b>Color: </b> {{row.color}}</br>
							<b>Rating: </b> {{row.avg_rating}}</br>

								{% comment %} <div class="project-name "> {{row.name}} </div> {% endcomment %}
							</div>
								
							<div class="portfolio-box-caption">
								<div class="project-category text-white-50">{{row.type}}</div>
								<div class="project-name">{{row.name}}</div>
							</div>
						</div>	
                        </a>
                    </div>

					
				{% endfor %}
                    
                </div>
            </div>
			{% endfor %}
        </div>
		</section>
  {% endblock %}
{% comment %} <dt><b>Id: </b>{{row.id}} <b>Name: </b>{{row.name}} <b>Color: </b>{{row.color}} <b>Brand: </b>{{row.brand}} <b>Type: </b>{{row.type}} <b>Price: </b>{{row.current_price}} <b>Old Price: </b>{{row.old_price}}</dt> {% endcomment %}
					
					{% comment %} {% for size in row.sizes.all %}
						<dt><b>Product type: </b>{{size.product_type}} <b>Size: </b>{{size.size}}</dt>
						</dd>		    
					{% endfor %} {% endcomment %}