{% extends 'base.html' %}

{% block encabezado %}
<h1> Busqueda de Peliculas por Generos </h1>
{% endblock %}

{% block contenido %}


    	<form id="formulario" method="post" action=''>{% csrf_token %}
    		{{formulario}}
    		<input type='submit' value='Realizar Busqueda'/>
    	</form>
	    
	    <hr>

	    {% if products %}
		    <h3> Total de Peliculas del Genero:  {{ products|length }}</h3>

			{% for row in products %}
				<dt><b>Id: </b>{{row.id}} <b>Name: </b>{{row.name}} <b>Color: </b>{{row.color}} <b>Brand: </b>{{row.brand}} <b>Type: </b>{{row.type}} <b>Price: </b>{{row.current_price}} <b>Old Price: </b>{{row.old_price}}</dt>
				
				{% for size in row.sizes.all %}
					<dt><b>Product type: </b>{{size.product_type}} <b>Size: </b>{{size.size}}</dt>
					</dd>		    
				{% endfor %}
			    </dd>		    
			</dl>
			{% endfor %}
		{% endif %}
	</div>
{% endblock %}
